@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;

  background-color: #0f0f1a;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  line-height: 1.6;
}
