.header {
  background-image: url(../assets/banner.png);
  background-size: cover;
  background-position: center;
  padding: 8rem 2rem;
  text-align: left;
}

.header-content-mobile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;

  img {
    width: 120px;
    padding-right: 12px;
  }
  margin-bottom: 4rem;
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
}

.cor-roxa {
  color: #9543ff;
}

.logos {
  display: flex;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.header-content h1 {
  font-size: 2.5rem;
  font-weight: 900;
  max-width: 600px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.header-content p {
  font-size: 1.2rem;
  max-width: 600px;
  margin-top: 0.5rem;
  color: #eee;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
