@media (min-width: 768px) {
  .header-content-mobile {
    display: none;
  }

  .fake-header-content-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .fake-header-content-mobile {
    height: 200px;
  }

  .header {
    background-position: 500px;
  }
  .header-content {
    display: none;
  }
  .header-content h1 {
    font-size: 2rem;
  }

  .game-links-container {
    flex-direction: column;
  }

  .game-card {
    flex-basis: 90%;
    max-width: 500px;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 3rem 1.5rem;
    text-align: left;
  }

  .header-content h1 {
    font-size: 1.8rem;
  }

  .header-content p {
    font-size: 1rem;
  }

  .game-card {
    flex-basis: 95%;
    min-width: unset;
    min-height: 200px;
  }

  .card-image-placeholder {
    min-height: 200px;
  }
}
